.main_img
{
    
    background-image: url(img/main.jpg);
    width: 930px;
    height: 488.2px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    
    
}
/*----------------------------blue block--------------*/
.mid 
{

   
    justify-content: center;
    background-color: rgba(23, 82, 170, 0.938);
    width:800px;
    height: 100px;
    color: white;
    border-bottom-right-radius: 36px;
    border-top-left-radius: 36px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 74px;
    text-align: center;
    margin-top: -59px;
    margin-left: 59px;

}

.let
{
    background-color: rgb(47, 192, 202);
    color: white;
    font-size: 74px;
    text-align: center;
    font-size: medium;
    padding: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    width: 729px;
    font-size: x-large;
    margin-top: -15px;
    margin-left: 89px;
}
 /*------------------------second info part----------*/
 b
 {
    font-size:xxx-large;
    color: rgb(3, 3, 115);
    font-weight: 900;
 }
 .about
 {
    color: rgb(62 62 181 / 56%);
    font-size: x-large;
 }
 .paragraph
 {
    
    margin-bottom: 1rem;
    font-size: smaller;
    font-family: revert;
    text-align:right;
    color: rgb(62 62 181 / 56%);
    padding-right: -28px;
    

 }
 .Specialattd
 {
    text-align: end;
    color: rgb(62 62 181 / 56%);
    font-size: 25px;
    font-weight: 700;
}
 
 /*-------------------right part-----------*/
 .side_img
 {
    width: 386px;
    height: 249px;
    margin-left: 535px;
    margin-top: -948px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
}
.ourservice
{
    background-color: rgba(23, 82, 170, 0.938);
    width: 468px;
    height: 82px;
    color: white;
    border-top-left-radius: 27px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: xxx-large;
    text-align: center;
    margin-left: 481px;
    margin-top:-359px;
}
.lorempart
{
    background-color: rgb(47, 192, 202);
    color: white;
    text-align: right;
    width: 480px;
    padding-right: 34px;
    margin-left: 520px;
    margin-top: -16px;
    width: 427px;
}
.icon .iimg
{
    
    width: 85px;
    page-break-after: 25px;
    padding-inline: 13px;
    margin-top: 24px;
    paddin: 13px;
    margin-inline: 29px;
}
.social
{
    display: flex;
    margin-block: 30px;
    margin-left: 108px;
    
}
.barcode
{
    vertical-align: middle;
    border-style: none;
    margin-left: 288px;
    margin-top: -64px;
}



 

